// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px
//COLOR
$color-white: #fff;
$color-black: #000;
$color-red: #ff2727;
$color-black-light: #383535;
$color-black-light-2: #555555; //FONT
$font-primary: "Roboto", sans-serif;
$font-secondary: "Bebas Neue", cursive;
$font-japanese: "Noto Sans JP", sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
  
}

body {
  font-family: $font-primary;
  font-size: 1.6rem;
  color: $color-black-light;
  background: $color-white;
}

html,
body {
  overflow: hidden;
}
////////////// MARGINS

.ml-10 {
  margin-left: 10rem;
}

.mr-10 {
  margin-right: 10rem;
}

span.red {
  color: $color-red;
}
////////////// SECTIONS

.container-2 {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

footer,
section {
  padding: 0 7vw;
  position: relative;
  scroll-snap-align: start  ;
  display: flex;
  align-items: center;
  justify-content: center;
  @media only screen and (min-width: $bp-medium) {
    height: 100vh;
  }
  @media only screen and (max-width: $bp-medium) {
    padding: 10rem 7vw;
  }

  .wrap {
    // background-color: green;
    height: 65%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media only screen and (min-width: $bp-largest) {
      height: 47rem;
    width: 120rem;
    margin: 0 auto;
    }

    
  }

  .background-text {
    position: absolute;
    bottom: 0;
    left: 6rem;
    z-index: -1;
    // line-height: 1;
    font-size: 31rem;
    font-family: $font-secondary;
    color: transparent;
    opacity: 0.15;
    @media only screen and (max-width: $bp-largest) {
      font-size: 24rem;
    }
    @media only screen and (max-width: $bp-large) {
      display: none;
    }

    &__white {
      -webkit-text-stroke: 2px white;
    }

    &__black {
      -webkit-text-stroke: 2px black;
    }
  }
}
////////////// TYPOGRAPHY
h1 {
  font-size: 12.8rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 1;
  font-family: $font-secondary;
  @media only screen and (max-width: $bp-small) {
    letter-spacing: 1px;
    font-size: 6rem;
  }
}

h2 {
  font-family: $font-secondary;
  font-size: 6.4rem;
  // letter-spacing: 1px;
}

h3 {
  font-family: $font-secondary;
  font-size: 4.8rem;
  color: $color-red;
  @media only screen and (max-width: $bp-medium) {
    font-size: 3.6rem;
  }
}

h4 {
  font-family: $font-secondary;
  font-size: 3.2rem;
  color: $color-white;
}

p {
  font-family: $font-primary;
  font-size: 1.6rem;
  line-height: 1.5;

  // @media only screen and (max-width: $bp-medium) {
  //   font-size: 1.6rem;
  // }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $color-white;
  font-family: $font-primary;
  z-index: 1;

}
////////////// BUTTONS
button.btn {
  height: 4rem;
  width: 20rem;
  text-transform: uppercase;
  font-family: $font-primary;
  font-weight: 700;
  font-size: 1.7rem;
  border: none;
  background: $color-red;
  color: $color-white;
  border: 2px solid #ff2727;
  cursor: pointer;
  }

