nav {
  height: 20vh;
  width: 100%;
  position: fixed;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 7vw;
  justify-content: space-between;
  z-index: 2;

  @media only screen and (max-width: $bp-medium) {
    height: 0vh;
    // margin-top: 1rem;
  }

  a.custom-logo-link {
    display: flex;
    align-items: center;

    .custom-logo {
      width: 11rem;
      height: auto;

      @media only screen and (max-width: $bp-small) {
        // margin-left: 0.5rem;
      }
    }
  }

  .hamburger {
  cursor: pointer;
    .line {
      height: .4rem;
      width: 4rem;
      background: $color-red;
      border-radius: 100px;
      &:not(:last-child) {
        margin-bottom: .8rem;
      }
    }
  }

  .nav-links {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: -150%;
    background: $color-black-light;
    z-index: 2;
    //opacity: 0;
    transition: all ease .2s;

    display: flex;
    align-items: center;
    justify-content: center;

    .cross{
      cursor: pointer;
      
      .line {
        height: .4rem;
        width: 4rem;
        margin: .6rem;
        background: $color-red;
        border-radius: 100px;
        

        &-1 {
          transform: translate(0px, 5px) rotate(45deg);
        }

        &-2 {
          transform: translate(0px, -5px) rotate(-45deg);
        }

        @media only screen and (max-width: $bp-largest) {
          &-1 {
            transform: translate(0px, 4px) rotate(45deg);
          }
  
          &-2 {
            transform: translate(0px, -4px) rotate(-45deg);
          }
        }
      }



      .nav-open {
        position: absolute;
        top: 6.2rem;
        right: 7vw;
      }
    }

    .nav-open {
      position: absolute;
      top: 6.2rem;
      right: 7vw;
    }

    


      ul.nav__menu {
        li {
          text-align: center;
          list-style: none;

          a {
            position: relative;
            color: white;
            text-decoration: none;
            font-family: $font-secondary;
            font-size: 8rem;
            transition: ease .4s;


            @media only screen and (max-width: $bp-small) {
              font-size: 7rem;
            }

            &::before {
              content: "";
              position: absolute;
              bottom: .7rem;
              left: 0;
              width: 100%;
              height: .6rem;
              background: $color-red;
              border-radius: 50px;
              opacity: 0;
              transition: ease-in .1s;
            }

            &::after {
              content: "";
              position: absolute;
              bottom: .6rem;
              left: 0%;
              width: 110%;
              height: .9rem;
              background: $color-black-light;
              transition: ease-in .5s;
            }



            &:hover {
              color: $color-red;
            }

            &:hover::before,
            &:focus::before,
            &:active::before {
              opacity: 1;
            }

            &:hover::after {
              transform: translateX(80rem);
            }


          }
        }

        li.lang-item a {
          font-size: 4rem;

          &::before {
            bottom: .4rem;
            height: .3rem;
          }

          &::after {
            bottom: .3rem;
            height: .9rem;
          }


        }

      }
    


  }

}
