header {
  position: relative;
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  // @media only screen and (max-width: $bp-medium) {
  //   height: 80vh;
  // }
  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: -2;
    filter: brightness(50%);
  }

  .hero {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 7vw;

    .hero-title {
      color: white;
      font-family: $font-secondary;
    }

    h3 {
      font-size: 4rem;
      letter-spacing: 2px;
      @media only screen and (max-width: $bp-medium) {
        font-size: 2.5rem;
      }
    }
  }

  .arrow {
    display: flex;
    justify-content: center;
    height: 8rem;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
///////////// SECTION 1
section.intro {
  .wrap {
    justify-content: center;

    p {
      font-size: 3.2rem;
      line-height: 1.7;
      margin-bottom: 3rem;
      @media only screen and (max-width: $bp-medium) {
        font-size: 2.4rem;
        line-height: 1.5;
        margin-bottom: 2rem;
      }
    }

    h3 {
      text-align: right;
      font-size: 3.2rem;
    }
  }
}
///////////// SECTION 2
section.about {
  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: -1;
    filter: brightness(50%);
  }

  .wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .sec-title h1 {
      color: $color-white;
    }

    .text-area {
      display: flex;
      justify-content: space-between;
      @media only screen and (max-width: $bp-large) {
        flex-direction: column;
      }

      .title {
        width: 40%;
        margin-right: 3rem;
        @media only screen and (max-width: $bp-large) {
          width: 100%;
          margin: 3rem 0;
        }
      }

      .paragraph {
        flex: 1;

        p {
          color: $color-white;
        }
      }
    }
  }
}
///////////// SECTION 3
section.sale {
  .wrap {
    align-items: center;

    .sec-title {
line-height: .8rem;
      @media only screen and (min-width: $bp-small) {
        align-self: flex-end;
      }
    }

    .latest-cars-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 3rem 0;
      }

      .latest-cars {
        position: relative;
        width: 40rem;
        overflow: hidden;
        

        &:hover {

          img {
            
            transform: scale(1);
          }

        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          z-index: -1;
          filter: brightness(50%);
          transform: scale(1.05);
          transition: ease-in-out .4s;
        }

        .car-name {
          position: absolute;
          bottom: 2rem;
          left: 2rem;
        }
      }

      .car-1,
      .car-2 {
        margin-right: 3rem;
        @media only screen and (max-width: $bp-medium) {
          margin: 0 0 3rem;
        }
      }
    }
  }
}
//////////// SERVICES
section.services {
  background: $color-black-light;
  z-index: -1;
  // & img {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   object-fit: cover;
  //   pointer-events: none;
  //   z-index:-1;
  //   filter: brightness(50%);
  .wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .text-area {
      display: flex;
      justify-content: space-between;
      @media only screen and (max-width: $bp-large) {
        flex-direction: column;
      }

      h1 {
        color: $color-white;
      }

      .title {
        width: 40%;
        margin-right: 3rem;
        @media only screen and (max-width: $bp-large) {
          width: 100%;
          margin: 3rem 0;
        }
      }

      .paragraph {
        flex: 1;

        p {
          color: $color-white;
        }
      }
    }
  }
}
//////////// DO YOU
section.do-you {
  overflow-x: hidden;
  .wrap {
    justify-content: center;

    @media only screen and (max-width: $bp-small) {
      align-items: center;
    }

    .sec-title h1 {
      @media only screen and (max-width: $bp-large) {
        font-size: 10rem;
      }

      @media only screen and (max-width: $bp-small) {
        text-align: center;
      }

      br {
        @media only screen and (max-width: $bp-medium) {
          display: none;
        }
      }

    }

    button.btn {
      margin-top: 3rem;
    }

    .do-you-img {
      position: absolute;
      bottom: 8rem;
      right: 0;
      width: 50%;

      @media only screen and (max-width: $bp-small) {
        display: none;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
